* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;

}


.container1 {
    min-width: 350px;
    max-width: 500px;
    min-height: 100%;
    margin-top: 7vh;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: rgb(255, 255, 255);
    top: 5px;
    background-color: rgb(6, 70, 122);
}

h1{
    font-size: xx-large;
    position: relative;
    top: 2vh;
    color: rgb(0, 35, 80);

}

/* table */

table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

table td {
    padding: 10px 30px;
    font-size: xx-large;
}

td:hover {
    font-weight: bolder;
    cursor: pointer;
}

.container1 #result {
    width: 100%;
    height: 200px;
    border-bottom: 7px solid rgb(17, 42, 112);
    border-radius: 10px;
}

#result {
    color: rgb(0, 35, 80);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-align: justify;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    font-size: x-large;
}

.input p {
    display: flex;
    justify-content: right;
    font-weight: 400;
}

textarea {
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.514), rgba(255, 255, 255, 0.39));
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -9px inset;
}

button {
    padding: 5px;
    margin-top: 2.5%;
    background-color: rgb(23, 52, 89);
    color: white;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button:hover {
    color: rgba(255, 196, 0, 0.801);
    background: rgb(3, 50, 112);
}